// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

// Global Variables
$black: #3d3d3d;
$white: #ededed;
$light-blue: #6fbfe8;
$accent-orange: #d6751b;